language: go
go:
  - 1.6.1

sudo: false

branches:
  only:
    - master

before_install:
  - wget http://apache.claz.org/zookeeper/zookeeper-3.4.6/zookeeper-3.4.6.tar.gz
  - tar -zxvf zookeeper*tar.gz

script:
  - go build ./...
  - go fmt ./...
  - go vet ./...
  - go test -i -race ./...
  - go test -v -race ./...
